*
    font-family "Proxima Nova"

@import "blocks/*"

#btn_buscar[disabled]
    color #fff
    background #ccc
    border 1px solid #ccc
#btn_buscar
    color #fff
    background blue
    border 1px solid blue
    border-radius 5px
    padding 3px 15px 